<%= render 'shared/navbar' %>

<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-center">
        <h1>The best sandwiches in Bangkok!</h1>
      </div>
      <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-center">
        <a href="#order-now">ORDER NOW</a>
      </div>
    </div>
  </div>
</div>

<div class="order-now" id="order-now">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center pb-80-mq">
        <div class="delivery-plateform">
          <%= image_tag('foodpanda-delivery.png', class: "logo-delivery") %>
        </div>
        <a href="https://www.foodpanda.co.th/restaurant/t2bu/submarine" target="_blank" class="primary-btn foodpanda-btn">ORDER NOW</a>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center pb-80-mq">
        <div class="delivery-plateform">
          <%= image_tag('honestbee-delivery.png', class: "logo-delivery") %>
        </div>
        <a href="https://www.honestbee.co.th/en/food/restaurants/submarine-sandwiches" target="_blank" class="primary-btn honestbee-btn">ORDER NOW</a>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center pb-80-mq">
        <div class="delivery-plateform">
          <%= image_tag('lineman-delivery.png', class: "logo-delivery") %>
        </div>
        <a href="https://www.wongnai.com/restaurants/submarinebangkok" target="_blank" class="primary-btn lineman-btn">ORDER NOW</a>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
